{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <a href="{{ path('categories_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    <br><br>

    <h1>Nouvelle catégorie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Créer</button>
    {{ form_end(form) }}

{% endblock %}
