{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success" role="alert">
        {% for message in app.session.flashBag.get('success') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}