<div class="delete-modal" data-remodal-id="delete-modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Êtes-vous sûr ?</h1>
    <p>
        {{ message }}
    </p>
    <br>
    <button data-remodal-action="cancel" class="remodal-cancel">Annuler</button>
    <button data-remodal-action="confirm" class="remodal-confirm">Oui</button>
</div>