/* HOME.INDEX */
.left-container .post {
    margin-bottom:40px;
}
.left-container .post .img-container{
    height: 185px;
    overflow: hidden;
}
.left-container .post .img-container a img{
    width:100%;
    transition: all .2s ease-in-out;
}
.left-container .post .img-container a img:hover{
    transform: scale(1.1);
}
.left-container h2.post-title{
    margin:10px 0px 10px 0px;
    font-size:22px;
}
.left-container h2.post-title a:hover{
    color:#1194f6;
}
.left-container .post-meta{
    margin:0px 0px 10px 0px;
    font-size:13px;
}
.left-container .post-meta a:hover{
    color:#1194f6;
}
.left-container .post-resume{
    font-size: 14px;
    color: #888;
}

/* POSTS.SHOW */
.left-container .post-show h1{
    font-size: 35px;
}
.left-container .post-show img{
    max-width:100%;
    margin-bottom: 20px;
}
.left-container .post-show #comments .comment:first-child{
    padding-top:10px;
    border-top:1px solid #999;
}
.left-container .post-show #comments .comment{
    border-bottom:1px solid #999;
    margin-left:20px;
    margin-top:10px;
}
.left-container .post-show #comments .comment .content{
    margin:0px 0px 10px 0px;
    padding:0px;
}
.left-container .post-show #comments .comment i.comment-meta{
    color:#888;
    font-size: 13px;
}

/* RIGHT CONTAINER */
.right-container h4{
    margin:0px 0px 15px 0px;
    padding:0px;
    color:#666;
    text-transform: uppercase;
}
.right-container #searchForm {
    margin-bottom:20px;
}
.right-container #rssForm {
    margin-bottom:20px;
}
.right-container .last-post{
    margin-bottom: 20px;
}
.right-container .last-post .img-container{
    height:80px;
    overflow: hidden;
}
.right-container .last-post .img-container a img{
    width: 100%;
    transition: all .2s ease-in-out;
}
.right-container .last-post .img-container a img:hover{
    transform: scale(1.1);
}
.right-container .last-post .content{
    margin: 0px;
    padding-top:0px;
    padding-left:0px;
    padding-bottom:0px;
}
.right-container .last-post .content a:hover{
    color: #1194f6;
}
.right-container .last-post .content .date{
    color: #aaa;
    font-size: 13px;
}

.right-container ul.category-list{
    margin:0px;
    padding:0px;
}
.right-container ul.category-list li{
    margin: 0px 20px 10px 0px;
    display: inline-block;
}
.right-container ul.category-list li a:hover{
    color: #1194f6;
}

/* BUTTONS */
button.btn-left {
    float:left;
    margin-right:20px;
}