{% extends 'base.html.twig' %}

{% block title %}Recherche: {{ searchTerm }}{% endblock %}

{% block body %}
    <h1>{{ posts|length }} {{ posts|length > 1 ? 'résultats trouvés' : 'résultat trouvé' }} pour : "{{ searchTerm }}"</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="left-container">

                {% include 'post/displayPosts.html.twig' with {'posts' : posts} %}

            </div>
        </div>

        <div class="col-md-4">
            <div class="right-container">
                {% include 'right_container.html.twig' with {'lastPosts' : lastPosts, 'categories' : categories} %}
            </div>
        </div>

    </div>

{% endblock %}