{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Feed RSS</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="left-container">

                <h3>{{ feedTitle }}</h3>

                {% for item in feedItems %}
                    <b>{{ item.title }}</b>
                    <br>
                    {{ item.description }}
                    <br>
                    <a href="{{ item.link }}" target="_blank">lire la suite</a>
                    <br><br>
                {% endfor %}

            </div>
        </div>

        <div class="col-md-4">
            <div class="right-container">
                {% include 'right_container.html.twig' with {'lastPosts' : lastPosts, 'categories' : categories} %}
            </div>
        </div>

    </div>

{% endblock %}